.header{
    color:#041f27; 
}
a.title_label{
  text-decoration: none;
  color: #041F27 !important;
}
.title{
  /* background-color: blue; */
  margin-top: 45px !important;
  font-size:32px;
  font-family:Inter;
  font-weight: 860;    
  font-style: italic;
}
.title_label{
  margin-left: 16px;
}
.favorites{
  /* background-color: pink; */
  margin-top: 55px !important;
  font-size: 18px;
  font-family:Inter;
  font-weight: 350; 
}
.favo{
  margin-top: 5px;
  padding-right: 0px;
}
a.favorites_label{
  color: #041f27;
  text-decoration: none;
  cursor: pointer;
}
.suitcase{
  margin-top: 55px !important;
  font-size: 18px;
  font-family:Inter;
  font-weight: 350;
  padding-right: 0px; 
}
a.suitcase_label{
  color: #041f27;
  text-decoration: none;
  cursor: pointer;
}
.enter{
  margin-top: 44px !important;
  display: flex;
  justify-content: right;
}
.enter_button{
  height: 60px;
  width: 210px;
  border-radius: 30px;
  border: #ECECEC;
  background-color: #ECECEC;
  font-size:20px;
  font-family:Inter;
  font-weight: 350;
}


.search{
  color: #041F27 !important;
  background-color: #0F4757;
  margin-top: 80px;
  height: 110px;
  border-radius: 5px;
/* width: 1400px; */
}
.city_input{
  padding-left: 25px;
  font-size: 20px;
  margin-left: 22px;
  height: 70px;
  width: 375px;
  border-radius: 5px;
  border: #fff;
}
.date{
  font-size: 22px !important;
  padding-left: 25px;
  margin-left: 23px;
  height: 70px;
  width: 200px;
  border-radius: 5px;
  border: #fff;
}
.form-select{
  padding-left: 25px !important;
  color: #041F27 !important; 
  width: 230px !important;
  font-size: 22px !important;
}
select:focus{
  border: none; 
  border-color: #0F4757 !important;
  box-shadow: 0 1px 1px #0F4757 inset, 0 0 8px #0F4757 !important;
}
.people{
  padding-left: 25px;
  margin-left: 23px;
  height: 70px;
  width: 230px;
  border-radius: 5px;
  border: #fff;
}
.search_button{
  font-size: 28px;
  background-color: #0F4757;
  color: #fff !important;
  margin-left: 23px;
  height: 80px;
  width: 180px;
  border-radius: 10px;
  border: #DEDEDE;
}
input{
  font-size: 20px;
}
input:focus {
  outline: #ffffff;
  border-color: #ffffff;
}
::placeholder{
  font-size: 20px;
  font-family:Inter;
  font-weight: 350;
}
.content{
  margin-top: 48px !important;
  color: #041F27;
}
.filter{
  /* background-color: #041F27; */

  border-radius: 15px;
  border: #0F4757 2px solid;
  margin-bottom: 30px;
}
.filter_label{
  margin-top: 24px;
  margin-left: 23px;
  font-size: 30px;
  font-family:Inter;
  font-weight: 350;
}
.filters{
  font-size: 18px;
  margin-left: 23px;
  color: #041F27;
  font-family:Inter;
  font-weight: 350;
}
.filter_price{
  margin-top: 25px;
}
.price_input{
  padding-left: 13px;
  height: 40px;
  width: 160px;
  border-radius: 15px;
  border: #0F4757 1px solid;
}
.price_input:focus{
  border-color: #041F27;
}
.price_input::placeholder{
  font-size: 18px;
  /* padding-left: 13px; */
  font-family:Inter;
  font-weight: 350;
}
.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #083464;
}
.heading{
  font-size: 20px;
  color: #041F27;
}
.apply_div{
  margin-left: 200px;
  padding-bottom: 20px;
}
.apply{
  border-radius: 10px;
  border: #041F27;
  background-color: #0F4757;
  color: #fff;
  height: 45px;
  font-size: 18px;
  width: 180px;
}

.custom-select {
  padding-left: 10px !important;
  color: #041F27 !important; 
  font-size: 22px !important;
}
.custom-select-wrapper{
  width: 282px;
  border-radius: 5px;
  border: #0F4757 2px solid;
}
.otstup_card{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 320px;
}
.image_room{
  border-radius: 5px;
  height: 170px;
  width: 310px;
}
.select_img{
  margin-left: 10px;
  margin-bottom: 5px;
}
select{
  cursor: pointer;
  outline: none;
  border: #fff 1px solid;
  border-radius: 5px;
  appearance: none; 
}
.custom-select{
  font-size: 20px;
  margin-left: 3px;
  color: #041F27;
  width: 230px;
  height: 45px;
}

.card{
  color: #041F27 !important;
  margin-top: 30px !important;
  height: 200px;
}
.title_room{
  height: 100px !important;
  font-size: 20px;
  margin-right: 20px !important;
}
.price_room{
  font-size: 20px;
  display: flex;
  justify-content: right;
  margin-right: 20px;
}
.hotel_and_button{
  display: flex;
  align-items: end;
  padding-bottom: 20px;
}
.hotel{
  display: flex;
  align-items: end;
}
a.hotel_a{
  white-space: nowrap;
  color: #0F4757 !important;
  font-size: 20px;
  text-decoration: none;
}
a:hover{
    color: #041F27 !important;
}
.select_div{
    display: flex;
    justify-content: end;
    margin-right: 20px;
}
.select_room{
    background-color: #ECECEC;
    font-size: 18px;
    height: 35px;
    width: 150px;
    border: none;
    border-radius: 5px;
}
/* модалка авторизованного пользователя */
.modal_header_auth{
    margin-top: 20px !important;
    padding-left: 50px;
    padding-right: 50px;
  }
  .email_label{
    font-size: 28px;
    font-weight: 400;
    color: #041F27;
  }
  .email{
    font-size: 26px;
    font-weight: 400;
    color: #041F27;
  }
  .linked_cards{
    font-size: 24px;
    padding-left: 35px;
    margin-top: 30px !important;
  }
  .card_card{
    padding-left: 30px;
    margin-top: 30px !important;
  }
  .card_bank{
    border-radius: 5px;
    color: #fff !important;
    font-size: 16px;
    height: 67px !important;
    width: 120px;
    background-color: #F08A48 !important;
    border: none !important;
  }
  .cards_number{
    margin-bottom: 30px
  }
  .number{
    display: flex;
    justify-content: right;
    padding-right: 10px;
    padding-top: 5px;
  }
  .date_active{
    display: flex;
    justify-content: left;
    padding-left: 10px;
    padding-top: 5px;
  }
  .btn_unite{
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .untie_it{
    color: #fff !important;
    height: 45px;
    width: 180px;
    border-radius: 10px;
    border: none;
    background-color: #0F4757;
    font-size: 20px;
  }
  .modal_logout_div{
    margin-top: 50px;
    padding-bottom: 10px;
  }
  .log_out_modal{
    color: #fff;
    font-size: 28px;
    height: 65px;
    width: 240px;
    border: none;
    background-color: #041F27;
    border-radius: 10px;
  }
  /* конец авторизованной модалки */
/* Модальное окно */
.close_close{
    padding-top: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: right;
  }
.modal_header{
    padding-top: 30px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
  }
  .titte_window{
    font-size: 40px;
    color: #041F27;
    font-weight: 400;
  }
  .email_div{
    margin-top: 50px;
  }
  .password_div{
    margin-top: 30px;
  }
  .password_div_2{
    margin-top: 30px;
  }
  input.modal_input{
    font-size: 24px;
    padding-left: 24px;
    border-radius: 10px;
    border: #D9D9D9 3px solid;
    width: 300px;
    height: 60px;
  }
  input.modal_input:focus{
    outline: #D9D9D9;
    /* border: #D9D9D9 3px solid; */
  }
  .modal_login_div{
    margin-top: 50px;
  }
  .log_in_modal{
    color: #fff;
    font-size: 28px;
    height: 65px;
    width: 240px;
    border: none;
    background-color: #0F4757;
    border-radius: 10px;
  }
  .reg_in_modal{
    color: #fff;
    font-size: 24px;
    height: 65px;
    width: 280px;
    border: none;
    background-color: #0F4757;
    border-radius: 10px;
  }
  .modal_footer{
    font-weight: 400;
    color: #041F27;
    margin-top: 30px;
    font-size: 20px;
    padding-bottom: 30px;
  }
  a.registr_button{
    text-decoration: none;
    font-weight: 500;
    color: #041F27;
    cursor: pointer;
  }
  a.login_button{
    text-decoration: none;
    font-weight: 500;
    color: #041F27;
    cursor: pointer;
  }
/* конец модального */

/* hover кнопочек и ссылок*/
button.enter_button:hover{
  background-color: #e2e2e2;
}
button.select_room:hover{
  background-color: #e2e2e2;
}
button.apply:hover{
  background-color: #0d3c49;
}
a.hotel_a:hover{
  color: #2e6b7e !important;
}
/* конец hover */

body::-webkit-scrollbar {
  width: 12px; /* ширина scrollbar */

  }
  
  body::-webkit-scrollbar-track {
  background: #F5F5F5; /* цвет дорожки */
  }
  
  body::-webkit-scrollbar-thumb {
  background-color: #0F4757; /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 1px solid white; /*padding вокруг плашки*/
  }