.container{
    /* background-color: aquamarine; */
}
.header{
    color:#041f27; 
}
a.title_label{
    text-decoration: none;
    color: #041f27 !important;
}
.title{
    /* background-color: blue; */
    margin-top: 45px !important;
    font-size:32px;
    font-family:Inter;
    font-weight: 860;    
    font-style: italic;
}
.title_label{
    margin-left: 16px;
}
.favorites{
    /* background-color: pink; */
    margin-top: 55px !important;
    font-size: 18px;
    font-family:Inter;
    font-weight: 350; 
}
.favo{
    margin-top: 5px;
    padding-right: 0px;
}
a.favorites_label{
    color: #041f27;
    text-decoration: none;
    cursor: pointer;
}
.suitcase{
    /* background-color: red; */
    margin-top: 55px !important;
    font-size: 18px;
    font-family:Inter;
    font-weight: 350;
    padding-right: 0px; 
}
a.suitcase_label{
    color: #041f27;
    text-decoration: none;
    cursor: pointer;
}
.enter{
    /* background-color: blueviolet; */
    margin-top: 44px !important;
    display: flex;
    justify-content: right;
}
.enter_button{
    height: 60px;
    width: 210px;
    border-radius: 30px;
    border: #ECECEC;
    background-color: #ECECEC;
    font-size:20px;
    font-family:Inter;
    font-weight: 350;
    }
.content{
    margin-top: 60px;
    padding-bottom: 20px;
}
.history_label{
    font-size: 30px;
    color: #041f27;
}
.line{
    height: 3px;
    background-color: #041f27;
    margin-top: 15px;
}
.card{
    border-color: #041F27;
    margin-top: 45px;
    border-radius: 10px !important;
}
/* .image_number{
    padding-left: 30px;
    padding-top: 23px;
    padding-bottom: 23px;
} */
.otstup_card{
    width: 380px;
    padding-left: 20px;
  }
  .image_number{
    height: 250px;
    width: 360px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
.title_hotel{
    margin-top: 15px;
    font-size: 24px;
    font-weight: 500;
}
.otstup{
    margin-left: 1px;
}
.ramka{
    background-color: #5895A7;
    margin-top: 10px;
    height: 30px;
    width: 40px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    border-color: #5895A7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.address{
    margin-top: 10px;
}
.date_label{
    color: #041F27;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 400;
}
.date-date{
    color: #041F27;
    font-size: 20px;
    font-weight: 400;
    padding-right: 20px;
}
.titlenumber_status{
    margin-top: 30px;
}
.title_number{
    color: #041F27;
    font-size: 22px;
}
.status{
    border-radius: 10px;
    background-color: #ABFF9D;
    height: 45px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    color: #041F27;
}
.price_replace{
    margin-top: 20px;
}
.price{
    margin-top: 10px;
    font-size: 22px;
    color: #041F27;
    font-weight: 400;
}
.replace{
    display: flex;
    justify-content: right;
    padding-bottom: 25px;
}
.replace_button{
    margin-right: 32px;
    background-color: #0F4757;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    border: none;
    
}

a{
    color: #041F27 !important;
    text-decoration: none;
}

/* hover кнопочек и ссылок*/
button.enter_button:hover{
    background-color: #e2e2e2;
}
button.replace_button:hover{
    background-color: #0d3c49;
}
a.title_hotel:hover{
    color: #2e6b7e !important;
}
/* конец hover */

body::-webkit-scrollbar {
    width: 12px; /* ширина scrollbar */
  
    }
    
    body::-webkit-scrollbar-track {
    background: #F5F5F5; /* цвет дорожки */
    }
    
    body::-webkit-scrollbar-thumb {
    background-color: #0F4757; /* цвет плашки */
    border-radius: 20px; /* закругления плашки */
    border: 1px solid white; /*padding вокруг плашки*/
    }