.container{
    font-size: 40px;
}
.succe_div{
    margin-top: 200px;
}
.inf1_div{
    margin-top: 100px;
}
.inf2_div{
    margin-top: 70px;
}
.butt_div{
    margin-top: 100px;
}
.button{
    height: 80px;
    width: 400px;
    color: #fff;
    background-color: #0F4757;
    border-radius: 10px;
    border: none;
    font-weight: 400;
}